<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn"
          data-wow-delay=".1s">
      </div>
    </div>

    # **About Me**

    Hello! I am **{{ site.author.name }}** :wave:<br>

    I am a senior pursuing dual degrees in <i>Computer Science</i> and <i>Statistics</i> with a minor in
    <i>Mathematics</i> at the Engineering School and the Wharton School of the University of Pennsylvania. I am also an
    accelerating master in <i>Robotics</i> at the <a href="https://www.grasp.upenn.edu/" target="_blank">GRASP
      Laboratory</a>. <br>


    I am interested in the mathematical principles of embodied intelligence, including probability, information, and
    game theories. I am also passionate about incorporating the principles into computationally efficient robotics
    algorithms for broader impact in scientific discovery and environmental sustainability. I am currently a student
    researcher mentored by <a href="https://pratikac.github.io/" target="_blank">Pratik Chaudhari</a> and <a
      href="https://www.kumarrobotics.org/dr-vijay-kumar/" target="_blank">Vijay Kumar</a>. <br>

    <b>Email</b>: siminghe [at] seas [dot] upenn [dot] edu
    <br>
    <b>Resume</b>: <a href="https://siming-he.github.io/assets/resume/resume_siming.pdf" target="_blank">download</a>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>

  </div>
</div>